:root {
   --grid-size: 25;
   --rgb-color: rgb(0, 0, 0);
}

#titleDiv {
   display: flex;
   justify-content: center;
   margin: auto;
}

#headDiv {
   display: flex;
   justify-content: center;
   width: 640px;
   padding: 10px;
   margin: auto;
}

.headDivItems {
   margin-left: 20px;
   margin-right: 20px;
}

#clearBtn {
   color: rgb(0, 0, 0);
   height: 30px;
   margin-top: 10px;
}

#rgbBtn {
   color: rgb(0, 0, 0);
   height: 30px;
   margin-top: 10px;
}

.red {
   color: red;
}

.blue {
   color: blue;
}

.green {
   color: green;
}

#changeColor {
   margin-top: 15px;
   margin-left: 0px;
}

#containerDiv {
   border: 1px solid;
   border-color: black;
   margin: auto;
   width: 640px;
   height: 640px;
   color: black;
   display: grid;
   grid-template-columns: repeat(var(--grid-size), auto);
   grid-template-rows: repeat(var(--grid-size), auto);
}

.grid {
   border: .5px solid;
   border-color: rgb(236, 236, 236);
}
