:root {
   --grid-size: 25;
   --rgb-color: rgb(0, 0, 0);
}

body {
   background-image: radial-gradient(rgb(255, 255, 255) , lightblue , #083ef1 );
}

#titleDiv {
   display: flex;
   justify-content: center;
   margin: auto;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-shadow: 2px 2px 4px rgb(45, 172, 214);
}

#headDiv {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-shadow: 2px 2px 4px rgb(45, 172, 214);
   display: flex;
   justify-content: center;
   width: 640px;
   padding: 10px;
   margin: auto;
}

.headDivItems {
   margin-left: 20px;
   margin-right: 20px;
}

#clearBtn {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: rgb(0, 0, 0);
   height: 30px;
   margin-top: 10px;
}

#rgbBtn {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: rgb(0, 0, 0);
   height: 30px;
   margin-top: 10px;
}

.red {
   color: red;
}

.blue {
   color: blue;
}

.green {
   color: green;
}

#changeColor {
   margin-top: 15px;
   margin-left: 0px;
}

#containerDiv {
   border: 1px solid;
   border-color: black;
   background-color: white;
   margin: auto;
   width: 640px;
   height: 640px;
   color: black;
   display: grid;
   grid-template-columns: repeat(var(--grid-size), auto);
   grid-template-rows: repeat(var(--grid-size), auto);
}

.grid {
   border: .5px solid;
   border-color: rgb(236, 236, 236);
}
